
@{
    ViewBag.Title = "DollarActiveJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="container-fluid">
        <div class="table-responsive">
            <table id="Dollargrid" style="width:100%" class="table">
                <thead>
                    <tr>
                        <th>Session</th>
                        <th>Jobname</th>
                        <th>Status</th>
                        <th>Frequency</th>
                        <th>Avgduration</th>
                        <th>Description</th>
                        <th>RunningOn</th>                        
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>